<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>LOGIN-PAGE</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <!-- <form action="{{ url_for('login')}}" method="post"> -->
                <h1>SIGN IN</h1>
                <span>Enter the valid id</span>
                <input type="text" placeholder="Name">
                
                <input type="password" placeholder="Password">
                <input type="submit" value="sign in">
            </form>
        </div>

    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal detials to use all of site features</p>
            </div>
            
        <div class="toggle-panel toggle-right">
                <h1>Welcome Back!</h1>
                <p>Enter your personal detials to use all of site features</p>
                <a href="C:\Users\Aadil\OneDrive\Desktop\pyexpo\secondpage.html">
                </a>
            </div>
    </div>
    </div>
    </div>
<script src="static/main.js"></script>
</body>
</html>